.flag-in-overview{
    width: 60px;
    height:60px;

    img{
        width: 100%;
        blur:(20px);
    }
}

.provider{
    background: #ff512f; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff512f, #dd2476); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff512f, #dd2476); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height:200px;
    border-radius: 5px;
    justify-content: flex-end;
    align-items: flex-end;
    display: flex;
    cursor: pointer;
    margin-bottom: 20px;

    h2{
        font-size: 60px;
        color: #fff;
        text-transform: uppercase;
    }
}

.flag-row{
    margin-bottom: 30px;
    margin-top: 30px;
}
